.custom-size {
    position: absolute;
    top: 7vw;
    left: 23%;
    width: 100% !important;
    height: 80%;
}

p {
    color: #255C99;
    font-size:50px;
}

.days-needed {
    background-color: #262626;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    height:16vw;
    padding:30px;
}

textarea {
    max-height:190px;
}

.reason-given {
    background-color: #255C99;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 30px;
}

.button-sendrequest {
    height:50px;
    width:130px;
    font-size:20px;
    line-height:1;
    border-radius:30px; 
    margin-left:80%;
}

.form-label {
    margin-top:30px;
    font-size:40px;
}



.requests {
    margin-top:17vh;
    background-color: #262626;
    border-radius: 40px;
    height: 16vw;
    padding: 30px;
}
.date{
    font-size:40px;
    float:left;
    margin-right:16vw
}
.state {
    font-size: 40px;
}
.reason {
    color: #CCAD8F;
}