.custom-size {
    position: absolute;
    top: 9%;
    left: 23%;
    width: 90% !important;
    height: 80%;
}

p {
    color: #255C99;
    font-size:50px;
}

.date-picker {
    padding:30px;
    align-content: center;
    height: 700px;
    background-color: #262626;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.reason-container {
    font-size:30px;
    background-color: #255C99;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.custom-height {
    position:relative;
    height:100%;
    margin-left:5%;
}

.button-sendrequest {
    height:50px;
    width:130px;
    font-size:20px;
    line-height:1;
    border-radius:30px; 
    margin-top:5%;
    margin-left:80%;
}

.form-label {
    margin-top:30px;
}