.custom-size {
    position: absolute;
    top: 4vw;
    left: 30%;
    width: 60% !important;
    height: 90%;
    font-size:30px;
    border-radius:40px !important;
}

.row>* {
    padding-top:1vw;
}

form {
    margin-top:2vw !important;
    width: 55vw !important;
    padding-left: 4vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

p {
    line-height:2.5;
    margin-block-start:10px;
    margin-left:30px;
}

.dividers {
    margin-top:30px;
}

.personal-data {
    height: 40vw;
    background-color: #255C99 !important;
    border-top-left-radius: 50px 50px !important;
    border-top-right-radius: 50px 50px !important;
    border-bottom-right-radius: 50px 50px !important;
    border-bottom-left-radius: 50px 50px !important;
    color: #CCAD8F;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.email-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.email-form {
    width:25vw;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.phonenmbr-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width:20vw;
}
    .phonenmbr-box input {
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

.phoneNmbrP-form {
    width:3vw !important;
}
.personalPhoneNmbr-form {
    width: 12vw !important;
}

.emergencycontact-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.emergencycontact-box input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nameEC-form {
    width: 29vw !important;
}
.phoneNmbrPEC-form {
    width: 3vw !important;
}
.phoneNmbrEC-form {
    width: 12vw !important;
}


.address-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
    .address-box input {
        vertical-align: middle;
        margin: 5px 10px 5px 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

.streetName-form {
    width: 23vw !important;
}

.houseNmbr-form {
    width: 4vw !important;
}

.nmbrAddOn-form {
    width: 5vw !important;
}

.postalCode-form {
    width: 11vw !important;
}

.btn-changeinfo {
    background-color:white;
    position:fixed;

}

.container-c {
    --UnChacked-color: hsl(0, 0%, 10%);
    --chacked-color: hsl(216, 100%, 60%);
    --font-color: white;
    --chacked-font-color: var(--font-color);
    --icon-size: 1.5em;
    --anim-time: 0.2s;
    --anim-scale: 0.1;
    --base-radius: 0.8em;
}

.container-c {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    fill: var(--font-color);
    color: var(--font-color);
}

    /* Hide the default checkbox */
    .container-c input {
        display: none;
    }

.checkmark {
    background: var(--UnChacked-color);
    border-radius: var(--base-radius);
    display: flex;
    padding: 0.5em;
}

.icon {
    width: var(--icon-size);
    height: auto;
    filter: drop-shadow(0px 2px var(--base-radius) rgba(0, 0, 0, 0.25));
}

.name {
    margin: 0 0.25em;
}

.Yes {
    width: 0;
}

.name.Yes {
    display: none;
}

.container-c:hover .checkmark,
.container-c:hover .icon,
.container-c:hover .name {
    transform: scale(calc(1 + var(--anim-scale)));
}

.container-c:active .checkmark,
.container-c:active .icon,
.container-c:active .name {
    transform: scale(calc(1 - var(--anim-scale) / 2));
    border-radius: calc(var(--base-radius) * 2);
}

.checkmark::before {
    content: "";
    opacity: 0.5;
    transform: scale(1);
    border-radius: var(--base-radius);
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.checkmark:hover:before {
    background-color: hsla(0, 0%, 50%, 0.2);
}

.container-c input:checked + .checkmark:before {
    animation: boon calc(var(--anim-time)) ease;
    animation-delay: calc(var(--anim-time) / 2);
}

.container-c input:checked + .checkmark {
    --UnChacked-color: var(--chacked-color);
    fill: var(--chacked-font-color);
    color: var(--chacked-font-color);
}

.container-c input:checked ~ .checkmark .No {
    width: 0;
}

.container-c input:checked ~ .checkmark .name.No {
    display: none;
}

.container-c input:checked ~ .checkmark .Yes {
    width: var(--icon-size);
}

.container-c input:checked ~ .checkmark .name.Yes {
    width: auto;
    display: unset;
}

/*Animation*/
.container-c,
.checkmark,
.checkmark:after,
.icon,
.checkmark .name {
    transition: all var(--anim-time);
}

