@page
@model MediaBazaar_WebApp.Pages.FirstLoginModel
@{
	ViewData["Title"] = "FirstLogin";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container text-center custom-size">
    <div class="row">
        <div class="col-auto image-holder"></div>
        <div class="col-12 container">
            <div class="card custom-height custom-cent custom-style" style="border-radius: 15px;">
                <div class="card-body p-5">
<<<<<<< HEAD
                    <h1 class="text-uppercase text-center mb-5">Change Your Password:</h1>
                    <form method="post" asp-page-handler="ChangePassword">
                        <div class="form-outline mb-4">
                            <label asp-for="newPassword" class="form-label" for="form3Example4cg">New Password:</label>
                            <input asp-for="newPassword" type="text" name="newPassword" id="form3Example4cg" class="form-control form-control-lg" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" value="Submit" class="btn btn-block btn-lg gradient-custom-4 text-body">
                                Change Password
=======
                    <h1 class="text-uppercase text-center mb-5">Login</h1>
                    <form method="post" asp-page-handler="Login">
                        <input type="hidden" asp-for="Employee.phoneNumber" name="phoneNumber" value="hidenvalue">
                        <input type="hidden" asp-for="Employee.Contract" name="contract" value="hidenvalue">
                        <input type="hidden" asp-for="Employee.emergencyPhoneNumber" name="emergencyPhoneNumber" value="hidenvalue">
                        <div class="form-outline mb-4">
                            <label asp-for="Employee.email" class="form-label" for="form3Example3cg">Email:</label>
                            <input asp-for="Employee.email" type="email" name="Email" id="form3Example3cg" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Employee.password" class="form-label" for="form3Example4cg">Password:</label>
                            <input asp-for="Employee.password" type="password" name="Password" id="form3Example4cg" class="form-control form-control-lg" />
                        </div>
                        <div id="loginMessageContainer"></div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" value="Submit" class="btn btn-block btn-lg gradient-custom-4 text-body">
                                Login
>>>>>>> 0e4e8668529b3c17afeaf49f20f413655feb4cea
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
