@page
@model MediaBazaar_WebApp.Pages.PersonalDataModel
@{
	ViewData["Title"] = "PersonalData";
}

<link rel="stylesheet" href="~/css/personaldata.css" asp-append-version="true" />

<div class="container custom-size" >
	<div class="row">
		<div class="col personal-data">
			<p>Name:@Model.employee.EmployeeInfo</p>
			<p>Email:@Model.employee.email</p>
			<p>Phone Number:@Model.employee.phoneNumber</p>
			<p>Date of Birth:@Model.employee.dateOfBirth</p>
			<p>Address:@Model.employee.EmployeeAddress</p>
		</div>
		<div class="w-100"></div>
		<div class="col contract-data">
			<p>Contract Dates:</p>
			<p>Contract Hours:</p>
			<p>Contract Contact:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-2 button-container">
			<a asp-page="/EditPersonaldata">
				<button class="button-sendrequest">
					Change Info
				</button>
			</a>
		</div>
	</div>
</div>