@page
@model ScheduleModel
@{
	ViewData["Title"] = "Schedule";
}
<link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />

<div class="container text-center custom-size">
	<div class="row">
		<div class="col-1 arrow-back"></div>
		<div class="col-10 date-square">Day X-Y, Month , Year</div>
		<div class="col-1 arrow-forward"></div>
		<div class="col shifts">
			@* @foreach(Shifts in shift) *@
		</div>
		<div class="w-100"></div>
		<div class="col-10"></div>
		<div class="col-2 button-container">
			<a asp-page="/OffDaysRequest">
				<button class="button-offrequest">
					Request Leave
				</button>
			</a>
		</div>
	</div>
</div>