@page
@model ScheduleModel
@{
	ViewData["Title"] = "Schedule";
}
<link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />

<div class="container text-center custom-size">
	<div class="row">
		<div class="col-1 arrow-back">
			<a asp-page-handler="Previous">
				<button class="button-back" type="submit" value="Submit">PREVIOUS</button>
			</a>
			</div>
		<div class="col-10 date-square"><h2>@Model.Date</h2> </div>
		<div class="col-1 arrow-forward">
			<a asp-page-handler="Next">
				<button class="button-forward" type="submit" value="Submit">NEXT</button>
			</a>
		</div>
		<div class="col shifts">	
			@if (Model.employeeShifts != null) {
				@foreach (var shift in Model.employeeShifts) {
					<div class="col shift-container">
						<h2>Date: @shift.shiftDate</h2>
						<h4>Type: @shift.shiftType</h4>
						<h4>Department: @Model.DepName(shift.FK_DepartmentID)</h4>
					</div>
					<div class="w-100"></div>
				}
			}
		</div>
		<div class="w-100"></div>
		<div class="col-10"></div>
		<div class="col-2 button-container">
			<a asp-page-handler="DaysOff" >
				<button class="button-offrequest">
					Request Leave
				</button>
			</a>
		</div>
	</div>
</div>

